@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap");

.about{
    font-family: "Roboto Slab", serif;
    padding: 2rem;

    .about__institute{
        text-align: justify;
    }

}