.contact {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);

  

  .contact__innerDiv {
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 1rem;
    
    h1,
    h2,
    h3,
    h4,h5 {
      text-align: center;
    }

    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

  }

  
}
