.faculty{
    padding: 1rem;

    .teaching_staff{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .faculty__name{
        text-transform: uppercase;
    }
}